body {
    text-align: center;
    margin: auto;
    background-color: rgb(103, 103, 175);
    color: white;
    }
    section{ 
        width: 500px; 
        padding:20px;
        border-radius:20px;      
        background-color:white;
        color:black;
        margin: auto;
    }
#place { 
    text-align: center;
    padding: 7px;
    font-size: 15px;
    width: 100px; 
}
#confirm{ 
    padding:7px;
    font-size:15px;
}
