body{ 
    background-color: rgba(77, 74, 236, 0.822);
}

header {
    font: normal 20px arial;
    text-align: center;
    color:white;
}

section{ 
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius:20px;
    margin-left: 500px;
    margin-right: 500px;
}
    
#contar{
    margin-right:160px;
}

footer{ 
    color:white;
    text-align: center;
    margin-top: 20px;
}